/* * {
    border: 1px dotted red;
} */

.title {
    font-size: 200%;
}
article {
    display: flex;
    flex-flow: wrap row;
    align-content: center;
}

.main {
    margin-top: 2em;
    justify-content: center;
    min-width: 300px;
    border-radius: 5px;
    /* background-color: antiquewhite; */
    padding: 10px;
}

h1 {
    
    margin: auto;
    
}

.about {
    display: flex;
    flex-direction: column;
}

body {
    background-color: powderblue;
}

.imgmain {
    display: flex;
    /* flex-flow: column; */
    align-content: center;
    margin: auto;
    width: 400px;
    border: 10px;  
    margin-top: 10px;
    margin-bottom: 10px;

}

p {
    background-color: lightcyan;
    border: 15px solid lightcyan;
    color: 283953;
}

h2, h1 {
    color: darkblue;
}

h2 {
    margin: auto;
    max-width: 400px;
    font-size: 19px;
}

h3 {
    color: rgb(66, 8, 8);
    margin: auto;
    text-align: center;
    font-size: 2em;
}

.about {

}

.career {
    margin-top: 20px;
}

.legislation {
    text-align: center;
}

.leglinks {
    text-align: center;
}

.committees {

}